@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

// Color variables
$white: #F0EDEE;
$green: #07393C;
$blue: #2C666E;
$lightblue: #90DDF0;
$lightgreen: #008189;
$black: #0A090C;

// Mixins

@mixin flex($dir: row, $align: center, $justify: space-between) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}


html, body, #root, .home, .account {
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    color: $white;
}

a {
    text-decoration: none;
}

.home, .account {
    @include flex($dir: column, $align: normal, $justify: normal);
}

.home { 
    background-color: $green; 
}

.home-details {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.account {
    background-color: $white;
    color: $black;
    margin: 0 auto;
    padding: 2rem;

}

.hero {
    @include flex();
    margin: 3rem 0;

    h1 {
        font-size: 2.2rem;
    }

    .hero-img {
        width: 100%;
        max-width: 31.25rem;
    }

    .hero-text {
        width: 100%;
        max-width: 23.75rem;
    }
}

.start-now-btn {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 260px;
    margin: 1.5rem 0;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $lightblue;
    font-size: 1rem;
    font-weight: bold;
    color: $black;
    cursor: pointer;
}

.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 81%);
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .close-btn {

        position: absolute;
        top: 2rem;
        right: 2rem;
        background: none;
        color: $white;
        font-size: 1rem;
        border: 0;
        cursor: pointer;
        
        &:hover {
            color: $lightgreen;

        }
    }
}

.formBox {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    h2 {
        margin-bottom: 1rem;
        
        a {
            color: $blue;
        }
    }

    button {
        width: 100%;
        padding: 0.8rem;
        margin-top: 1rem;
        font-size: 1rem;
        cursor: pointer;
        font-weight: bold;
        background: $lightblue;
        border: none;
        border-radius: 0.5rem;
    }
}

.form-container {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $white;
    color: $black;
    width: 100%;

    .account-ask {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        color: $blue;
        text-decoration: underline;
    }
}


input {
    width: 100%;
    height: 2.5rem;
    padding: 0.4rem 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
}

.input-container {
    margin: 1rem 0;
}
  
.validation-message {
    font-size: 0.8rem;
    color: red;
    padding: 0 0.5rem;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.validation-message.show {
    opacity: 1;
}

nav {
    @include flex();
    
    div {
        @include flex();
        gap: 1rem;
        
    }
    
   h1, .login-btn {
        a {

            color: $white
        }
    }

    .signup-btn a {
        padding: 0.5rem 0.8rem;
        background: $lightblue;
        border-radius: 0.5rem;
        color: $black;
        font-weight: bold;
        width: 100%;
        display: block;
    }
}

.nav-colored {
    a {
        color: $blue
    }
    // padding: 0.5rem;

    button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    }
}

main {

    .formBox {
        height: 250px;
        width: 90%;
        margin: 0 auto;
        max-width: 400px;
        // border: 0.1rem solid;
        // border-radius: 0.5rem;
        // padding: 2rem 1rem;
        // background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        form {
            @include flex($dir: column);
            gap: 1rem;
        }
    }

   

    input {
        width: 90%;
        height: 2rem;
        padding: 0.3rem 0.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid lightgrey;
        background: none;
    }

    button {
        width: 90%;
        height: 3.5rem;
        padding: 0.3rem 0.5rem;
        border-radius: 0.5rem;
        border: 0;
        background-color: $lightblue;
        cursor: pointer;
    }
}

.links {
    @include flex($align: stretch);
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
}

.link-analytics {
    @include flex($dir: column)
}

.link-details {
    word-break: break-all;
    .timestamp {
        font-size: 0.7rem;
    }

    .long-url {
        font-size: 0.9rem;
    }


    .copy-btn {
        background-color: $lightblue;
    }

    .share-btn {
        background-color: $lightgreen;
    }

    .short-url-code {
        color: $lightgreen;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .link-btn {
        padding: 0.2rem;
    }

}

.link-topic {
    margin: 3rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;


    button {
        width: 100px;
        background-color: lightblue;
        border: none;
        border-radius: 0.5rem;
        padding: 0.3rem;
        text-align: center;
        color: $black;
        cursor: pointer;
    }
}

.url-btns {
    @include flex();
    
    .small-btn {
        width: 100%;
        margin: 0.3rem 0.5rem;
        border-radius: 0.5rem;
        border: 0;
        cursor: pointer;
    }

    svg {
        font-size: 1.1rem;
        color: $lightgreen;
    }

    p {
        display: flex;
        align-items: baseline;
    }
}

.copied-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $lightgreen;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3s ease-in-out;
  
    @keyframes slideIn {
      0% {
        transform: translateX(-50%) translateY(100%);
      }
      100% {
        transform: translateX(-50%) translateY(0);
      }
    }
  }


@media (max-width:764px) {
    html, body, #root, .home {
        height: inherit;
    }

    .hero {
        flex-wrap: wrap;
    
        .hero-img {
            width: 100%;
            max-width: none;
        }
    
        .hero-text {
            width: 100%;
            max-width: none;
        }
    }
    
}