@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

html, body, #root, .home, .account {
  position: absolute;
  width: 100%;
}

body {
  color: #F0EDEE;
}

a {
  text-decoration: none;
}

.home, .account {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
}

.home {
  background-color: #07393C;
}

.home-details {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.account {
  background-color: #F0EDEE;
  color: #0A090C;
  margin: 0 auto;
  padding: 2rem;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}
.hero h1 {
  font-size: 2.2rem;
}
.hero .hero-img {
  width: 100%;
  max-width: 31.25rem;
}
.hero .hero-text {
  width: 100%;
  max-width: 23.75rem;
}

.start-now-btn {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 260px;
  margin: 1rem 0;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #90DDF0;
  font-size: 1rem;
  font-weight: bold;
  color: #0A090C;
  cursor: pointer;
}

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9098039216);
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formBox {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.formBox h2 {
  margin-bottom: 1rem;
}
.formBox h2 a {
  color: #2C666E;
}
.formBox button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  background: #90DDF0;
  border: none;
  border-radius: 0.5rem;
}

.form-container {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #F0EDEE;
  color: #0A090C;
}
.form-container p {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-container a {
  color: #2C666E;
  text-decoration: underline;
}

input {
  width: 100%;
  height: 2.5rem;
  padding: 0.4rem 0.5rem;
  margin: 1rem 0;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
nav a {
  color: #F0EDEE;
}

.nav-colored {
  padding: 0.5rem;
}
.nav-colored a {
  color: #2C666E;
}
.nav-colored button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

main .formBox {
  height: 250px;
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main .formBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
main input {
  width: 90%;
  height: 2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid lightgrey;
  background: none;
}
main button {
  width: 90%;
  height: 3.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #90DDF0;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 1rem;
}

.link-analytics {
  align-self: end;
}

.link-details .timestamp {
  font-size: 0.7rem;
}
.link-details .long-url {
  font-size: 0.9rem;
}
.link-details .url-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-details .small-btn {
  padding: 0.3rem 0.5rem;
}
.link-details .short-url-code {
  color: #90DDF0;
  font-size: 1.2rem;
}
.link-details .link-btn {
  padding: 0.2rem;
}

.links-topic {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.links-topic button {
  width: 100px;
  background-color: lightblue;
  border: none;
  border-radius: 0.5rem;
}

@media (max-width: 764px) {
  html, body, #root, .home {
    height: inherit;
  }
  .hero {
    flex-wrap: wrap;
  }
  .hero .hero-img {
    width: 100%;
    max-width: none;
  }
  .hero .hero-text {
    width: 100%;
    max-width: none;
  }
}/*# sourceMappingURL=styles.css.map */